## Métodos de las listas

Operadores relacionales a nivel de listas

In [3]:
L1 = [1,2,3,4]
L2 = [1,2,4,3]
print(L1)
print(L2)

[1, 2, 3, 4]
[1, 2, 4, 3]

In [4]:
L1 == L2

False

In [5]:
L2 > L1

True

In [6]:
L1 = [1,2,3,4]
L2 = [1,2,4]
print(L1)
print(L2)
print(L2 > L1)

[1, 2, 3, 4]
[1, 2, 4]
True

In [7]:
L1 = ["Ana","Juan","Andres"]
L2 = ["Ana","Juan","Raul"]
L1 < L2

True

In [8]:
L1 = ["Ana","Juan","Andres"]
L2 = ["Ana","Juan","Andres"]
L1 == L2

True

Añadir elementos a una lista

In [9]:
L = [1,2,3,4,5,6,7,8,9]
L

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# Añadir por el final
t = (10,11,12)

L.append(t)
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, (10, 11, 12)]

In [11]:
L[-1]

(10, 11, 12)

In [12]:
L = [1,2,3,4,5,6,7,8,9]
L

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# Añadir por el final
t = (10,11,12)

L.extend(t)
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [14]:
# insertar por el principio
L.insert(0,1000)
L

[1000, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Borrar elementos de una lista

In [15]:
del(L[0])
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [16]:
L.remove(10)
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12]

In [17]:
L.pop(-1)

12

Buscar dentro de la lista

In [18]:
L.count(9)

1

In [19]:
L.index(9)

8

In [20]:
L.index(20)

ValueError: 20 is not in list

In [21]:
L.extend((1,2,3))
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 1, 2, 3]

In [23]:
def indexAll(L, valor):
    """
    Devuelve una lista con todos los indices donde se encuentra valor
    """
    indices = []
    n = L.count(valor)
    if n != 0:
        pos = 0
        for i in range(n):
            ind = L.index(valor, pos)
            indices.append(ind)
            pos = ind+1
    return indices

In [24]:
L = [1,0,0,3,4,1,8,8,9,1,1]
print(indexAll(L, 1))

[0, 5, 9, 10]

In [25]:
L[::-1]

[1, 1, 9, 8, 8, 1, 4, 3, 0, 0, 1]

In [26]:
L

[1, 0, 0, 3, 4, 1, 8, 8, 9, 1, 1]

In [27]:
L.reverse()
L

[1, 1, 9, 8, 8, 1, 4, 3, 0, 0, 1]

Ordenación de listas

In [28]:
L = [1,4,5,3,2,1,2,4,5]
L.sort()
L

[1, 1, 2, 2, 3, 4, 4, 5, 5]

In [29]:
L.sort(reverse=True)
L

[5, 5, 4, 4, 3, 2, 2, 1, 1]

In [30]:
L = list("hola que tal")
L.sort()
L

[' ', ' ', 'a', 'a', 'e', 'h', 'l', 'l', 'o', 'q', 't', 'u']

In [31]:
L = ['Raul','Andres','Ana','Alberto','Belen','Sonia']
L.sort()
L

['Alberto', 'Ana', 'Andres', 'Belen', 'Raul', 'Sonia']

In [34]:
# Ordenar según el numero de caracteres que tiene el nombre
L.sort(key=len, reverse=True)
L

['Alberto', 'Andres', 'Belen', 'Sonia', 'Raul', 'Ana']

In [35]:
L = [[1,1,4], [900],[1,1,1,2,2,3,4,5,6,7,7,9],[34,56,77]]
# Ordenar según la suma de los elementos: ASC
L.sort(key=sum)
L

[[1, 1, 4], [1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 7, 9], [34, 56, 77], [900]]

In [36]:
L = [('Raul',34,1.78), ('Sonia',45,1.72),('Ana',52,1.68),('Maria',23,1.88)]
L.sort()
L

[('Ana', 52, 1.68),
 ('Maria', 23, 1.88),
 ('Raul', 34, 1.78),
 ('Sonia', 45, 1.72)]

In [37]:
# Ordenar por edad DESC:
L.sort(key=lambda t: t[1], reverse=True)
L

[('Ana', 52, 1.68),
 ('Sonia', 45, 1.72),
 ('Raul', 34, 1.78),
 ('Maria', 23, 1.88)]

In [39]:
# Ordenar por altura ASC:
L.sort(key=lambda t: t[2])
L

[('Ana', 52, 1.68),
 ('Sonia', 45, 1.72),
 ('Raul', 34, 1.78),
 ('Maria', 23, 1.88)]

In [40]:
from datetime import datetime

In [41]:
L = [datetime.now(), datetime(2020,12,31,6,8,12), datetime(2020,12,31,6,8,11),datetime(2000,5,12,5,6,7)]
L.sort()
L

[datetime.datetime(2000, 5, 12, 5, 6, 7),
 datetime.datetime(2020, 12, 31, 6, 8, 11),
 datetime.datetime(2020, 12, 31, 6, 8, 12),
 datetime.datetime(2022, 10, 18, 13, 43, 14, 830711)]

Ordenar colecciones con sorted

In [43]:
t = (9,5,4,1,1,2,3,45,7)
print(t)
L = sorted(t, reverse=True)
print(L)

(9, 5, 4, 1, 1, 2, 3, 45, 7)
[45, 9, 7, 5, 4, 3, 2, 1, 1]